<%- include('../partials/header') %>

  <h2 class="nombreProducto">
    <%=producto.nombre%>
      <h2>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <% if (locals.user && locals.user.id === producto.usuario_id) { %>
              <a class="btn btn-danger" href="/" onclick="return confirm('Are you sure?') ? true : event.preventDefault()">Delete</a>
              
              <a class="btn btn-primary" href="/<%= producto.id %>/edit">Edit</a>
              <% } %>
              <a href="/<%= producto.id %>/detail"><img class="imagenprod" src="<%= producto.imagen %>" alt=""
                  width="200px" /></a>                 
            </div>
            <div class="col-md-8">
              <div class="card-body p-3">
                <h5 class="card-title">Comentarios: </h5>  
                <div class="col-md-8">
                  <% if(comentarios.length > 0) { %>
                    <% for( let i = 0; i < comentarios.length; i++ ) { %>
                      <p><a href="/<%= producto.usuario_id %>/profile" class="cleanup"><%= comentarios[i].comentarios_usuario.nombreusuario %></a> :  <%= comentarios[i].comentario %></p>
                    <% } %>
                  <% } else { %>
                    <div class="alert alert-secondary" role="alert">
                      There is no comments yet
                    </div>
                  <% } %>

                </div>

              </div>
            </div>
          </div>
        </div>



        <%- include('../partials/footer') %>